body {
    font-family: 'Times New Roman', Times, serif;
}

.map {
    height: auto;
    width: 80%;
    display: inline;
    border: 4px solid darkblue;
    margin-left: 20%;
}

.character-index {
    display: inline;
    margin-left: 10%;
    margin-top: 0px;
    margin-bottom: auto;
}

.character-index h3 {
    display: inline;
}

.character-index h4 {
    display: inline;
}

.character-index img {
    display: inline-block;
    height: 1em;
    width: auto;
    margin-right: .5em;
}

h1 {
    text-align: center;
}

p {
    font-size: 12pt;
}

.quotes {
    text-align: center;
}

#michelle-obama {
    background-color: darkblue;
    color:  white;
}

#barack-obama {
    background-color: gold;
}

#craig-robinson {
    background-color: rgb(235, 137, 33);
}

#michelle-obama a:link {
    color: white;
    text-decoration: none;
}

#michelle-obama a:visited {
    color: white;
    text-decoration: none;
}

#michelle-obama a:hover {
    color: lightgray;
    text-decoration: none;
}

#michelle-obama a:active {
    color: lightblue;
    text-decoration: none;
}

a:link {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 17pt;
}

h4 {
    font-size: 13.5pt;
    font-weight: normal;
}

h5 {
    font-size: 15pt;
    font-weight: normal;
    text-align: center;
    line-height: 1px;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 49.5% 0% 49.5%;
    column-gap: 5px;
}
